<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><i class="fa fa-trophy"></i> Competencias</h3>
        </div>
        <ul class="list-group">
          {{#each}}
            <span class="list-group-item competition-item">
              <div class="row">
                <div class="col-xs-4">
                    <img {{bind-attr src=logo}} class="img-responsive thumb-96 img-rounded" alt="Responsive image">
                </div>
                <div class="col-xs-8">
                  <p class="list-group-item-text text-center"><strong>{{name}}</strong></p>
                  <p class="text-center"><small>{{datetime startDate format="DD/MM/YYYY"}} al {{datetime endDate format="DD/MM/YYYY"}}</small></p>
                  <div class="btn-group-vertical center-block">
                    {{#link-to 'competition.new_challenge' this type="button" class="btn btn-xs btn-primary center-block"}}
                      Crear desafio
                    {{/link-to}}
                    {{#link-to 'competition.matches' this type="button" class="btn btn-xs btn-primary center-block"}}
                      Ver partidos
                    {{/link-to}}  
                  </div>
                </div>
              </div>
            </span>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      {{outlet}}
    </div>
  </div>
</div>
